* {
  margin: 0;
  padding: 0;
}

body {
  display:flex;
  justify-content: center;
  align-self: center;
  background: url(../public/priscilla-du-preez-dlxLGIy-2VU-unsplash\ \(1\).jpg) no-repeat;
  background-size: cover;
  font-family: 'Karla', sans-serif;
}
.search-label {
  display: block;
  margin-top: 162px;
}
.search-input {
  width: 880px;
  height: 80px;
  border: none;
  border-radius: 20px;
  padding: 0px 20px;
  
font-weight: 400;
font-size: 32px;

}

input:focus {
  outline: none;
}