* {
  margin: 0;
  padding: 0;
}

.container {
  background: url(../public/background.jpg) no-repeat;
  background-size: cover; 
  width: 100%;
  min-height: 100vh;
}

.container.searching {
  background: none;
}

.first-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.zevi-logo {
  background: none;
  position: absolute;
  width: 86px;
  height: 44.69px;
  left: 1286px;
  top: 40px;
}

input:focus {
  outline: none;
}

.container .search-input {
  border: none;
  border-radius: 20px;
  width: 780px;
  height: 80px;
  padding: 0px 20px;
  font-size: 32px;
}

.container.searching .search-input {
  border: 0.686747px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 520px;
  height: 40px;
  padding: 0px 10px;
  font-size: 20px;
}

.container .search-label {
  width: 780px;
  height: 80px;
  margin-top: 140px;
  gap: 0;
  padding: 0;
}

.container.searching .search-label {
  border: #000000;
  width: 520px;
  height: 40px;
  margin-top: 30px;
}

.searchIcon {
  position: relative;
  right: 10%;
  font-size: 40px;
}

.container.searching .searchIcon{
  position: relative;
  right: 8%;
  font-size: 30px;
}

.latest-trends-container {
  width: 1025px;
  min-height: 540px;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.all-suggestions{
  padding: 30px 40px;
}

ul {
  list-style-type: none;
}

.latest-trends-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px 0px;
}

h2 {
  word-spacing: 2px;
  font-weight: 520;
  font-size: 20px;
  line-height: 27px;
}

.latest-trends-image {
  width: 160px;
  height: 220px;
  border-radius: 4px;
}

.latest-trends-p {
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  padding: 5px;
  color: #000000;
}

.popular-suggestions-p {
  font-size: 14px;
  padding: 15px 0px;
  color: #000000;
}
p {
  word-spacing: 2%;
  padding: 6px 0px;
}

.second-container {
  display: flex;
  width: 100%; 
}

.sidebar-container {
  width: 20%;
  background-color: #FFFFFF;
  padding: 40px;
 }

h1 {
  font-weight: 400px;
  font-size: 30px;
  line-height: 48px;
}

.brand {
  padding: 10px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.brand-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.price {
  padding: 10px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.price-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.ratings {
  padding: 10px 0px;
  font-weight: 500;
  line-height: 24px;
}

.rating-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

 label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px;
  font-size: 14px;
 }

 .products-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
 }

 .product {
  position: relative;
  margin: 20px;
 }

 .searched-image {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 4px;
  display: block;
 }

 .searched-image:hover {
  z-index: 0;
 }

 .information {
  padding: 10px 0px;
 }

 .product-name {
    display: block;
    font-size: 14px;
    line-height: 1;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 220px;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
 }

 .mrp-price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px
 }

 .mrp {
    font-weight: 300;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
  }

  .product-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #6D84FF;
  }

  .rating-count {
    display: flex;
    align-items:self-start;
    gap: 5px;
    font-weight: 300;
    font-size: 16px;
    padding: 6px 0px;
  }
  
  .filled-star {
    width: 20px;
    height: 20px;
    color: #FDD33D;
  }

  .empty-star {
    width: 20px;
    height: 20px;
    color: #CDCCC8;
  }

.filled-heart, .empty-heart {
  z-index: 1;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 12px;
  color: #FFFFFF;
}

.filled-heart {
  color: #D32424;
}

.view-product {
  position: absolute;
  top: 250px;
  height: 48px;
  opacity: 0.8;
  padding: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(109, 132, 255, 0.71);
  z-index: 0;
  cursor: pointer;
}


.view-product-text { 
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
}

 @media screen and (max-width: 780px) {
  .first-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container .search-input {
    border-radius: 10px;
    width: 300px;
    height: 50px;
    padding: 0px 20px;
    font-size: 18px;
  }

  .container.searching .search-input {
    border: 0.686747px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 220px;
    height: 30px;
    padding: 0px 10px;
    font-size: 20px;
  }
   
  .container .search-label {
    width: 300px;
    height: 60px;
    margin-top: 140px;
    gap: 0;
    padding: 0;
  }

  .container.searching .search-label {
    border: #000000;
    width: 320px;
    height: 30px;
    margin-top: 20px;
  }

  .searchIcon {
    position: relative;
    right: 14%;
    font-size: 30px;
  }
  .container.searching .searchIcon {
    position: relative;
    right: 10%;
    font-size: 20px;
  }


  .latest-trends-container {
    width: 325px;
    height: 540px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  .zevi-logo {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 320px;
    top: 30px;
  }

  .second-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
  }
  .sidebar-container {
    width: 80%;
    background-color: #FFFFFF;
    padding: 40px;
   }

  .latest-trends-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px 0px;
  }
 }